.body{
    background-color: #e7e5e5;
    margin-left: 64px;
    padding-left: 2%;
    padding-right: 5%;
    
}

body{
    background-color: #e7e5e5;
}
.insights-page {
    padding: 0px;
    margin: 1%;
  }
  .sidebar.open {
    padding-right: 8%;
  }
  
  .sales-container, 
  .profiles-container, 
  .ltv-box, 
  .upsell-box, 
  .cross-sell-box, 
  .buying-journey-container, 
  .stat-box, 
  .product-affinity-box, 
  .top-sellers-box {
    background-color: #fff;
    border-radius: 8px;
  }
  
  .buying-journey-button {
    width: 100%;
  }
  
  .stat-box, 
  .buying-journey-container, 
  .sales-container, 
  .profiles-container, 
  .ltv-box, 
  .upsell-box, 
  .cross-sell-box, 
  .product-affinity-box, 
  .top-sellers-box {
    text-align: center;
    border: 1px solid #ccc;
  }
  .css-1oqqzyl-MuiContainer-root {
    width: 115%;
    margin-left: 7%;
}
  /* .css-3u1piw-MuiTypography-root {
    font-size: 1.8rem !important;
    font-weight: bold !important;
    color: #000000 !important;
    margin-top: 0px !important;
    text-align: left !important;
} */
/* .css-1yuhvjn {
    margin-top: -17px !important;
} */
.css-2ulfj5-MuiTypography-root {
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}
.css-qwujcl {
    display: flex;
    justify-content: space-evenly;
    margin-top: 55px !important;
    text-align: center !important;
}
.cross-sell-box{
    text-align: left ;
}
.upsell-box{
    text-align: left ;
}
.ltv-box{
    text-align: left;
}
.css-p4wudk-MuiSvgIcon-root {
    padding-top: 3%;
    padding-right: 3%;
width: 8% !important;
height: 8% !important;
}
.buying-journey-container {
    position: relative;
    padding: 16px;
    text-align: center;
  }
  
  .buying-journey-button {
    width: 100%;
  }
  
  .left-button {
    border-radius: 15px !important;
    width: 48% !important;
    padding: 20px 16px !important;
    display: flex !important;
    flex-direction: column !important;
    
  }
  
  .right-button {
   
    margin-bottom: 6% !important;
    padding: 24px 0px !important;
    border-radius: 50% !important;
    width: 34% ;
    height: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .css-e784if-MuiTypography-root {
    font-size: 0.6rem !important;
  }
  
  .buying-journey-svg {
    width: 100%;
    max-width: 340px;
    transform: rotateX(180deg); /* Rotate the image 180 degrees on the Y axis to flip it */
    transform-origin: center center; /* Rotate around the center */
    transition: transform 0.6s; /* Smooth transition effect */
  }
  .css-p4wudk-MuiSvgIcon-root {
    margin-bottom:54px ;
    margin-left: 0px !important;
  }


  
  
  
 