.header {
  background-color: rgba(35, 35, 93, 0.978) !important; /* Primary color */
  padding: 1px !important;
}

.menuButton {
  margin-right: 400px !important;
  /* margin-left: 240px !important; */
}
.menuButton.shifted {
  margin-left: 240px !important;

}

.avatar {
  background-color: #fff;
  color: #1976d2;
  margin-left: 70px;
  margin-right: 20px;
}

.search {
  position: relative;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-left: 850px;
  width: 80%;
  max-width: 230px;
  display: flex;

  align-items: flex-end;
}
.searchIcon.mobile-only {
  display: none;
}
/* .desktop-only {
    display: flex;
   
} */
.h1mobile-only{
  display: none;
}

/* .searchIcon {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.inputRoot {
  color: inherit;
  width: 100%;
}

.inputInput {
  padding: 8px 8px 8px 0 !important;
  /* padding-left: calc(1em + 32px) !important; */
  transition: width 0.3s !important;
  width: 80%;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  flex-direction: row !important;
}
.right-header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* @media (min-width: 600px) {
  .css-hyum1k-MuiToolbar-root {
      padding-left: 254px !important;
      padding-right: 24px;
  }
} */
@media (max-width: 430px) {
  .css-hyum1k-MuiToolbar-root {
      /* Adjustments for smaller screens */
      padding-left: 0px !important;
      padding-right: 0px !important;
      min-height: 48px !important; /* or any other value that suits your design */
      /* Add other adjustments here if needed */
  }
  .search {

    margin-left: 0px;
    margin-right: 0px;
  }
  .avatar {
    /* background-color: #fff; */
    /* color: #1976d2; */
    margin-left: 0px;
    margin-right: 0px;
}
.menuButton {
  margin-right: 47% !important;
  margin-left: 1% !important;
}

.searchIcon {
  display: block;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  display: none;
  
}
.searchIcon.mobile-only {
  display: block;
  padding-left: 70px;
}

.logoutIcon{
  display: none !important;
}
/* Show search bar when the search icon is clicked */
.searchOpen .search {
  display: flex;
}
.h1mobile-only{
  display: block;
  
}}