.header {
  background-color: rgba(35, 35, 93, 0.978) !important; /* Primary color */
  padding-right: 1px !important;
  
}


.menuButton {
  margin-right: 400px !important;

}
.menuButton.shifted {
  margin-left: 240px !important;

}

.avatar {
  background-color: #fff;
  color: #1976d2;
  margin-left: 70px;
  margin-right: 20px;
}

.search {
  position: relative;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-left: 850px;
  width: 80%;
  max-width: 230px;
  display: flex;

  align-items: flex-end;
}
.searchIcon.mobile-only {
  display: none;
}

.h1mobile-only{
  display: none;
}



.inputRoot {
  color: inherit;
  width: 100%;
}

.inputInput {
  padding: 8px 8px 8px 0 !important;

  transition: width 0.3s !important;
  width: 80%;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  flex-direction: row !important;
}
.right-header{
  display: flex;
  flex-direction: row;
  align-items: center;
}


@media (max-width: 430px) {
  .css-hyum1k-MuiToolbar-root {

      padding-left: 0px !important;
      padding-right: 0px !important;
      min-height: 48px !important;
     
  }
  .search {

    margin-left: 0px;
    margin-right: 0px;
  }
  .avatar {

    margin-left: 0px;
    margin-right: 0px;
}
.menuButton {
  margin-right: 47% !important;
  margin-left: 1% !important;
}

.searchIcon {
  display: block;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  display: none;
  
}
.searchIcon.mobile-only {
  display: block;
  padding-left: 70px;
}

.logoutIcon{
  display: none !important;
}

.searchOpen .search {
  display: flex;
}
.h1mobile-only{
  display: block;
  
}}